extends layout

block content
  .row
    h4 Add new top player
  form(action="", method="post")
    .form-group.row
        label Season
            input.form-control(name="season")
    .form-group.row
        label Player
            input.form-control(name="player")
    .form-group.row
        label Team
            input.form-control(name="team")
    .form-group.row
        label Score
            input.form-control(name="score")
    .form-group.row
      button.btn-primary Add